## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>
<%! from microsite_configuration.templatetags.microsite import platform_name %>

<div class="wrapper wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
      <ol>
          <li class="nav-colophon-01">
          <a id="about" href="${marketing_link('ABOUT')}">
              ${_("About")}
          </a>
          </li>
          <li class="nav-colophon-02">
          <a id="jobs" href="${marketing_link('JOBS')}">
              ${_("Jobs")}
          </a>
          </li>
          <li class="nav-colophon-03">
          <a id="press" href="${marketing_link('NEWS')}">
              ${_("News")}
          </a>
          </li>
          <li class="nav-colophon-04">
          <a id="faq" href="${marketing_link('FAQ')}">
              ${_("FAQ")}
          </a>
          </li>
          <li class="nav-colophon-05">
          <a id="contact" href="${marketing_link('CONTACT')}">
              ${_("Contact")}
          </a>
          </li>
      </ol>
      </nav>

      <div class="wrapper-logo">
        <p>
          <a href="/">
            ## this is just a placeholder logo
            ## feel free to change this logo to your own
            <img alt="organiztion logo placeholder" src="/static/images/logo-placeholder.png">
          </a>
        </p>
      </div>

      <p class="copyright">${_("&copy; 2014 {platform_name}, some rights reserved").format(platform_name=settings.PLATFORM_NAME)}</p>
        <nav class="nav-legal">
          <ul>
            <li class="nav-legal-01">
              <a href="${marketing_link('TOS')}">${_("Terms of Service and Honor Code")}</a>
            </li>
            <li class="nav-legal-02">
              <a href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
            </li>
          </ul>
        </nav>
    </div>

    ## please leave this link and use one of the logos provided
    <div class="powered-by">
      <p>
        <a href="http://openedx.org/">
          ## standard powered-by logo
	  ## Translators: 'Open edX' is a brand, please keep this untranslated. See http://openedx.org for more information.
          ## <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag.png" alt="${_('Powered by Open edX')}" width="150" height="50" />
          ## greyscale logo for dark background
          ## <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag-light.png" alt="${_('Powered by Open edX')}" width="150" height="50" />
          ## greyscale logo for light background
          <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag-dark.png" alt="${_('Powered by Open edX')}" width="150" height="50" />
        </a>
      </p>
    </div>
  </footer>
</div>
